#https://help.github.com/articles/about-code-owners/


# global rule
* @theunkn0wn1

# documentation directory
/docs/ @shatteredbeam

# database module
/src/packages/database/ @shatteredbeam

# facts module
/src/packages/fact_manager/ @shatteredbeam

# commands module
/src/commands/ @theunkn0wn1

# galaxy module
/src/packages/galaxy/ @Eearslya

# rules module
/src/packages/rules/ @MHajoha

# #####
various CI configuration files.
*.yml @theunkn0wn1
*.ini @theunkn0wn1
*.cfg @theunkn0wn1

/.circleci/ @theunkn0wn1
.coveragerc @theunkn0wn1
