#
#docker-compose.yml - build script for the mechasqueak3 irc bot
#   creates the runtime environment for the IRC bot and, by default, runs both the tests and the
#    client.
#
#    USAGE:
#       test runner:    docker-compose up tests
#       Mechasqueak:    docker-compose up mechasqueak
#       Drillsqueak:    docker-compose up drillsqueak
#       development:    docker-compose up mecha3-dev
#
#     please note that these builds require a configuration file external to git, a template
#       configuration file is provided.
#Copyright (c) 2018 The Fuel Rats Mischief,
#All rights reserved.
#
#Licensed under the BSD 3-Clause License.
#
#See LICENSE.md
#

version: '3.2'
services:
  tests:
    network_mode: "host"
    container_name: "spark"
    volumes:
      - type: bind
        source: ./logs
        target: /mechasqueak/logs/
      
      - type: bind
        source: ./.git
        target: /mechasqueak/.git

      - type: bind
        source: ./config
        target: /mechasqueak/config/
       
      - type: bind
        source: ./certs
        target: /mechasqueak/certs/ 
    build: .
    command: "sh ./pytest.sh"
    environment:
      - P_HOST=localhost
  
  sql:
    network_mode: "host"
    build: ./postgres-files
    volumes:
      - "p-data:/psql-data"
    image: sql
    ports:
      - "5432:5432"
    environment:
      - PGPORT = 5432
      - PGDATA = /psql-data 
      
  mecha3-dev:
    network_mode: "host"
    volumes:
      - type: bind
        source: ./logs
        target: /mechasqueak/logs/

      - type: bind
        source: ./config
        target: /mechasqueak/config/

      - type: bind
        source: ./certs
        target: /mechasqueak/certs/

    build: .
    image: mecha3
    command: ["python","main.py","--config", "develop.json"]
    environment:
      - P_HOST = localhost

  drillsqueak:
    network_mode: "host"
    volumes:
      - type: bind
        source: ./logs
        target: /mechasqueak/logs/

      - type: bind
        source: ./config
        target: /mechasqueak/config/

      - type: bind
        source: ./certs
        target: /mechasqueak/certs/
    build: .
    image: mecha3
    command: ["python","main.py","--config", "drill.json"]
    environment:
      - P_HOST = localhost

  mechasqueak:
    network_mode: "host"
    volumes:
      - type: bind
        source: ./logs
        target: /mechasqueak/logs/

      - type: bind
        source: ./config
        target: /mechasqueak/config/

      - type: bind
        source: ./certs
        target: /mechasqueak/certs/
    build: .
    image: mecha3
    command: ["python","main.py","--config", "live.json"]
    environment:
      - P_HOST = localhost

volumes:
  p-data:
    external: true
