[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pydle = ">=0.9.1"
pure-sasl = "*"
coloredlogs = "*"
humanfriendly = "*"
psycopg2-binary = "*"
toml = "*"
loguru = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pylint = "*"
pytest-httpserver = "*"
codecov = "*"
pycodestyle = "*"

[requires]
python_version = "3.7"
