[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pydle = ">=0.8.5"
pure-sasl = "*"
coloredlogs = "*"
psycopg2 = "*"

[dev-packages]
pytest = "==4.0.2"  #FIXME remove limit when pytest-asyncio updates and pytest is no longer breaking things
pytest-cov = "*"
pytest-asyncio = "*"
pylint = "*"
pytest-httpserver = "*"

[requires]
python_version = "3.7"
