Updated {{ rescue.updated_at.format("MMM DD HH:MM:SS zz") }}
{% for quotation in rescue.quotes %}
    [{{ loop.index0 }}][{{ quotation.author }} ({{  now().diff_for_humans(quotation.updated_at).replace('after', 'ago') }})] {{ quotation.message }}{% endfor %}
